body {
  background-color: #1f3a46;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0px;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2C757A;
}

.results-page {
  background-color: #2C757A;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.prof-page {
  background-color: #2C757A;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A; /* dark gray */
  background-color: #FFFFFF; /* white */
  cursor: pointer;
}

.text-search {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A; /* dark gray */
  background-color: #FFFFFF; /* white */
  cursor: pointer;
  margin-right: 10px;
}

.search-button:hover {
  background-color: #b7c9e1; /* medium blue */
}

.search-button:active {
  background-color: #9fb1cb; /* dark blue */
  transform: translateY(1px);
}

.signup-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f0f8ff;
  color: #333;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.signup-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #008080;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.signup-label {
  margin-right: 10px;
  font-size: 0.9rem;
  width: 40%;
  color: #008080;
}

.signup-input {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: rgb(0, 88, 88) solid thin;
  background-color: #fff;
  width: 90%;
  margin-bottom: 10px;
}

.signup-password-mismatch {
  color: #ff6b6b;
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: -3%;
}

.signup-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.signup-button:hover {
  background-color: #fff;
  color: #008080;
  border: 1px solid #008080;
}

.signup-button:active {
  background-color: #dddddd;
  color: #008080;
  border: 1px solid #008080;
}

.logout-button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logout-button:hover {
  background-color: red;
  color: white;
  border: 1px solid #008080;
}

.logout-button:active {
  background-color: pink;
  color: white;
  transform: translateY(1px);
}

.nav-container {
  width: 98%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 1%;
  padding-right: 1%
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.nav-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

.nav-container a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav-container li.active {
  background-color: #555;
}

.nav-container li:hover {
  background-color: #777;
}

.professor-container {
  background-color: #1c1f2b;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.professor-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.professor-info img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 50%;
}

.professor-details {
  flex: 1;
}

.professor-details h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}

.professor-details .degrees {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.ratings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #00b7c2;
}

.quality-ratings-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.quality-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.rating-label {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.rating-value {
  font-size: 24px;
  font-weight: bold;
  color: #00b7c2;
}

h2 {
  margin-top: 0;
}

.review-container {
  background-color: #2e3348;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-scores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
}

.review-review {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  align-items: left;
}

.review-text {
  font-size: 16px;
}