body {
  background-color: #1f3a46;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0px;
}

.results-pane {
  color: #ffffff;
  padding: 10%;
  padding-top: 1%;
  overflow-y: scroll;
}

.results-footer {
  background-color: #333;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF; /* dark gray */
  background-color: #2C757A; /* white */
  cursor: pointer;
  margin: 3px;
}

.compare-button:hover {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF; /* dark gray */
  background-color: #1f3a46; /* white */
  cursor: pointer;
}

.compare-button:disabled {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #ddd; /* dark gray */
  background-color: rgb(57, 74, 81); /* white */
  cursor: pointer;
}


.prof-page {
  background-color: #2C757A;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}


.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2C757A;
}

.search-page::before {    
  content: "";
  background-image: url("http://localhost:3000/images/SJSUExtraWide.jpg");
  background-size: cover;
  position: absolute;
  top: 44px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A; /* dark gray */
  background-color: #FFFFFF; /* white */
  cursor: pointer;
}

.search-text {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A; /* dark gray */
  background-color: #FFFFFF; /* white */
  cursor: pointer;
  margin-right: 10px;
}

.search-select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A; /* dark gray */
  background-color: #FFFFFF; /* white */
  cursor: pointer;
  margin-right: 10px;
  margin-left: -9px;
}

.search-button:hover {
  background-color: #b7c9e1; /* medium blue */
}

.search-button:active {
  background-color: #9fb1cb; /* dark blue */
  transform: translateY(1px);
}

.search-result {
  display: flex;
  background-color: #2C757A;
  border-radius: 10px;
  /* padding: 1%; */
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-content {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  width: 85%;
}

.search-result img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.search-banner {
  opacity: .4;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.search-bar {
  position: relative;
}

.signup-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f0f8ff;
  color: #333;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.signup-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #008080;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.signup-label {
  margin-right: 10px;
  font-size: 0.9rem;
  width: 40%;
  color: #008080;
}

.signup-input {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: rgb(0, 88, 88) solid thin;
  background-color: #fff;
  width: 90%;
  margin-bottom: 10px;
}

.signup-password-mismatch {
  color: #ff6b6b;
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: -3%;
}

.signup-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.signup-button:hover {
  background-color: #fff;
  color: #008080;
  border: 1px solid #008080;
}

.signup-button:active {
  background-color: #dddddd;
  color: #008080;
  border: 1px solid #008080;
}

.nav-container {
  width: 98%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 1%;
  padding-right: 1%
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.nav-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

.nav-container a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav-container li.active {
  background-color: #555;
}

.nav-container li:hover {
  background-color: #777;
}

.professor-container {
  background-color: #1c1f2b;
  color: #fff;
  padding: 6%;
  padding-top: 4%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.professor-info {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}

.image-cropper {
  margin-right: 15px;
  margin-bottom: 15px;
}
.profile-pic {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2%;
}

.prof-det-horizontal {
  display:flex;
  justify-content: space-between;
}

.prof-det-vertical {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.professor-details h2 {
  font-size: 24px;
  width: 300px;
  margin: 0;
  margin-bottom: 5px;
}

.professor-details .degrees {
  width:300px;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.ratings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #00b7c2;
}

.quality-ratings-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.quality-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.rating-label {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.rating-value {
  font-size: 24px;
  font-weight: bold;
  color: #00b7c2;
}

h2 {
  margin-top: 0;
}

.review-component {
  background-color: #2e3348;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-component img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-component a {
  color: #fff;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: .5%;
  padding-bottom: .5%;
}

.review-metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
}

.review-scores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
}

.review-review {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  align-items: left;
}

.review-text {
  font-size: 16px;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #007f7f;
}

.review-form-group {
  display: flex;
  color: #007f7f;
  align-items: center;
  justify-content: space-between;
}

.review-form-group-text {
  margin-top: 15px;
  display: flex;
  color: #007f7f;
  align-items: top;
  justify-content: space-between;
}

.review-form-input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form-control {
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
  /* TODO */
}

.review-form-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.review-form-button:hover {
  background-color: #fff;
  color: #008080;
  border: 1px solid #008080;
}

.review-form-button:active {
  background-color: #dddddd;
  color: #008080;
  border: 1px solid #008080;
}

.review-professor-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.review-professor-button {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.review-professor-button:hover {
  background-color: #fff;
  color: #008080;
  border: 1px solid #008080;
}

.review-professor-button:active {
  background-color: #dddddd;
  color: #008080;
  border: 1px solid #008080;
}

.review-professor-button-red {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.review-professor-button-red:hover {
  background-color: red;
  color: white;
}

.review-professor-button-red:active {
  background-color: red;
  color: #008080;
  border: 1px solid #008080;
}

.review-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.student-picture {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
}

.upload-pic {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
}

.warn {
  color:red;
  padding: 4px;
}

.red {
  background-color: red;
}
.result-info{
  padding-top:1%;
}
.result-header-text {
  width: 100%;
  overflow-wrap: break-word;
}

.compare-center {
  display: flex;
  justify-content: center;
}

.compare-container {
  background-color: #1c1f2b;
  color: #fff;
  padding: 6%;
  padding-top: 0%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.compare-select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #4A4A4A;
  background-color: #FFFFFF;
  cursor: pointer;
  margin-right: 10px;
  margin-left: -9px;
}

.upvote {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 0;
  border-bottom: 16px solid #1c1f2b;
}

.upvote:hover {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 0;
  border-bottom: 16px solid rgba(64, 224, 208, 1);
} 

.upvote-filled {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 0;
  border-bottom: 16px solid rgba(64, 224, 208, 1);
}

.downvote {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 16px solid #1c1f2b;
  border-bottom: 0;
}

.downvote:hover {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 16px solid rgba(208, 64, 64, 1);
  border-bottom: 0;
} 

.downvote-filled {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 16px solid rgba(208, 64, 64, 1);
  border-bottom: 0;
} 

.votes {
  display:flex;
  width: 60px;
  justify-content: space-between;
  margin-right: auto;
}

.edit-button {
  margin-right: auto;
}

.delete-button {
  margin-left: auto;
}

